.input {
  min-height: 44px;
  border: 1px solid var(--gray);
  border-radius: 30px;
  padding: 4px 16px;
  outline: none;
  transition: border .2s ease-in-out;

  &--large {
    height: 100px;
    border-radius: 10px;
    resize: vertical;
  }

  &--error {
    &:focus {
      border-color: var(--red);
    }
  }

  &:focus {
    border-color: var(--green);
  }
}