:root {
  --green                 :#12c57a;
  --gray                  :#949494;
  --red                   :#ff3434;

  --shadow                : 7px 7px 30px -8px rgba(0, 0, 0, .15);

  --rounded-card          : 10px;
  --shadow-card           : var(--shadow);
}