.btn {
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out;
  padding: 10px 24px;
  font-size: 14.8px;
  font-weight: 500;

  &--primary {
    background-color: var(--green);
    color: #FFFFFF;

    &:hover {
      background-color: var(--color-hover-button);
    }
  }

  &--secondary {
    color: var(--green);
    border: 1px solid var(--green);
    background-color: transparent;

    &:hover {
      background-color: var(--color-hover-button);
      color: #FFFFFF;
    }
  }

  &--text {
    color: var(--green);
    background-color: transparent;
    padding: 0;
    min-height: 0;
  }

  &--link {
    text-decoration: none;
  }
}