.card {
  border: 1px solid #EEEEEE;
  border-radius: var(--rounded-card);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  width: 100%;
}

.card:hover {
  box-shadow: var(--shadow-card);
}

.card:hover .card__image > img {
  transform: scale(1);
}

.card__image {
  width: 35%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card__image > img {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.card__data {
  padding: 8px;
  font-size: .875rem;
  width: 65%;
  overflow: hidden;
}

.card__artist {
  color: var(--gray);
}

.card .card__action {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card__image {
    width: 100%;
    border-radius: var(--rounded-card);
  }

  .card__data {
    padding: 12px;
    font-size: 1rem;
    width: 100%;
  }

  .card .card__action {
    margin-top: 16px;
  }
}
